anyio==3.5.0
async-timeout==4.0.2
asyncpg==0.25.0
click==7.1.2
Deprecated==1.2.13
fastapi==0.75.2
h11==0.13.0
idna==3.3
loguru==0.5.3
numpy==1.22.3
packaging==21.3
pydantic==1.9.0
pyparsing==3.0.8
python-dateutil==2.8.2
python-dotenv==0.16.0
six==1.16.0
sniffio==1.2.0
starlette==0.17.1
sqlmodel==0.0.6
typing-extensions==4.2.0
uvicorn==0.15.0
wrapt==1.14.0
SQLAlchemy~=1.4.36
shapely==1.8.2